{% extends "package/read.html" %}

{% block primary_content_inner %}
  <h1>Errores al compilar IATI</h1>

    <p>
      <a href="{{ iati_files_url }}">Volver a archivos IATI</a>
    </p>
    <div class="alert alert-warning">
      
      <details class="missing-files-details">
        <summary class="missing-files-summary">
          Errores
        </summary>
        <div class="missing-files-category">
          <ul class="missing-files-list">
            {% for k, error in errors.items() %}
              <li>
                {{ error }}
              </li>
            {% endfor %}
          </ul>
        </div>
      </details>
    </div>

{% endblock %}

{% block secondary_content %}
  <section class="module module-narrow module-shallow">
    <h2 class="module-heading"><i class="fa fa-info-circle"></i> Errores al compilar archivo IATI</h2>
    <div class="module-content">
      <p>
        No se ha sobreescrito el archivo IATI debido a errores en los archivos fuente.
        Por favor, revise los errores listados arriba y corrija los archivos correspondientes antes de intentar generar el archivo IATI nuevamente.
      </p>
    </div>
  </section>
{% endblock %}
