{% extends "package/read_base.html" %}

{% block primary_content_inner %}
<section class="module">
  <div class="module-content">
    <form method="post" action="{{ h.url_for('iati_generator.generate_test_iati', package_id=pkg.id) }}">
      <label for="resource-select">{{ _("Select a resource:") }}</label>
      <select id="resource-select" name="resource_id" required>
        {% for resource in pkg_dict.resources %}
          {% if resource.format.lower() in ['csv', 'xml'] and resource.get('url_type') == 'upload' %}
            <option value="{{ resource.id }}">{{ resource.name or resource.id }}</option>
          {% endif %}
        {% endfor %}
      </select>

      <button type="submit">{{ _("Generate test IATI") }}</button>
    </form>

    <h3>Logs</h3>
    <ul>
    {% for log in result.logs %}
      <li>{{ log }}</li>
      </ul>
    {% endfor %}

    {% if xml_download_url %}
      <a href="{{ xml_download_url }}" download>{{ _("Download XML File") }}</a>
    {% endif %}
  </div>
</section>
{% endblock %}
