{% extends "package/read.html" %}

{% block primary_content_inner %}
  <h1>{{ _("IATI Compilation Errors") }}</h1>

    <p>
      <a href="{{ iati_files_url }}">{{ _("Back to IATI files") }}</a>
    </p>
    <div class="alert alert-warning">
      
      <details class="missing-files-details">
        <summary class="missing-files-summary">
          {{ _("Errors") }}
        </summary>
        <div class="missing-files-category">
          <ul class="missing-files-list">
            {% for k, error in errors.items() %}
              <li>
                {{ error }}
              </li>
            {% endfor %}
          </ul>
        </div>
      </details>
    </div>

{% endblock %}

{% block secondary_content %}
  <section class="module module-narrow module-shallow">
    <h2 class="module-heading"><i class="fa fa-info-circle"></i> {{ _("IATI File Compilation Errors") }}</h2>
    <div class="module-content">
      <p>
        {{ _("The IATI file was not overwritten due to errors in the source files. Please review the errors listed above and correct the corresponding files before attempting to generate the IATI file again.") }}
      </p>
    </div>
  </section>
{% endblock %}
